@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

@section css{
    <style>
        .table tbody td {
            height: 175px
        }
    </style>
}

<div class="card">
    <div class="card-header row align-items-center justify-content-between">
        <div class="table-infos">
            <h5>Basic Table</h5>
            <span>use class <code>table</code> inside table element</span>
        </div>
        <div class="brand-plus-btn">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    Hələ ki, məlumat yoxdur!
                </div>
            }
            else
            {
                <table class="table tree">
                    <thead>
                        <tr>
                            <th>Id: </th>
                            <th>Stock Keeping Unit: </th>
                            <th>Brand: </th>
                            <th style="width: 300px;">Image: </th>
                            <th>Name: </th>
                            <th>Short Description: </th>
                            <th>Description: </th>
                            <th>Created Date: </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Product item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.StockKeepingUnit</td>
                                <td>@item.Brand.Name</td>
                                <td>
                                    <div class="img-div" style="width: 300px;">
                                        <img style="width:100%;height: 150px;object-fit: cover;" src="uploads/products/@item.ProductImages.FirstOrDefault(pi => pi.IsMain)?.ImagePath" />
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.ShortDescription</td>
                                <td>@item.Description</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                <td style="float: right; display: flex; align-items: center;">
                                    <a asp-action="Edit" class="btn btn-warning mr-2" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                                    <a asp-action="Details" class="btn btn-primary mr-2" asp-route-id="@item.Id"><i class="far fa-eye"></i></a>
                                    <a style="cursor: pointer; color: white;" class="btn btn-danger prod-btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="libraries/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    <script>
        $(function () {
            $('.prod-btn-del').click((e) => {
            let delId = $(e.currentTarget).data('del-id');

            Swal.fire({
                title: 'Silmək istədiyinizə əminsinizmi?',
                text: "Bu əməliyyat geri qaytarılmayacaqdır!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli, silinsin!'
            }).then((result) => {
                if (result.isConfirmed) {
                     $.ajax({
                         url: `@Url.Action("Delete")/${delId}`,
                         type: "POST",
                            success: function (successMsg) {
                                if (successMsg.error == false) {
                                    $(e.currentTarget).closest('tr').remove();
                                    return;
                                }

                                alert(successMsg.message);
                            },
                            error: function (errorMsg) {
                                alert(errorMsg);
                            }
                        });

                    Swal.fire(
                        'Silindi!',
                        'Seçdiyiniz məlumatlar silindi.',
                        'success'
                    )
                }
            })
            });
        });
    </script>
}
