@model IEnumerable<Riode.Template.WebUI.Models.Entity.Category>

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="libraries/jquery-treegrid/css/jquery.treegrid.min.css" />
    <style>
        .table td {
            vertical-align: middle;
        }
    </style>
}

<div class="card">
    <div class="card-header row align-items-center justify-content-between">
        <div class="table-infos">
            <h5>Basic Table</h5>
            <span>use class <code>table</code> inside table element</span>
        </div>
        <div class="brand-plus-btn">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    Hələ ki, məlumat yoxdur!
                </div>
            }
            else
            {
                <table class="table tree">
                    <thead>
                        <tr>
                            <th>Id: </th>
                            <th>Name: </th>
                            <th>Description: </th>
                            <th>Created Date: </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category item in Model.Where(c => c.ParentId == null))
                        {
                            <tr class="treegrid-@item.Id">
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td>@item.Description?.EllipseText()</td>
                                <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                <td style="float: right;">
                                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="far fa-eye"></i></a>
                                    <a style="cursor: pointer; color: white;" class="btn btn-danger category-btn-del" data-del-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>

                            foreach (Category child in item.GetChildCategories())
                            {
                                <tr class="treegrid-@child.Id treegrid-parent-@child.ParentId">
                                    <th scope="row">@child.Id</th>
                                    <td>@child.Name</td>
                                    <td>@child.Description?.EllipseText()</td>
                                    <td>@child.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                                    <td style="float: right;">
                                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@child.Id"><i class="fas fa-pencil-alt"></i></a>
                                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@child.Id"><i class="far fa-eye"></i></a>
                                        <a style="cursor: pointer; color: white;" class="btn btn-danger category-btn-del" data-del-id="@child.Id"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="libraries/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    <script src="libraries/jquery-treegrid/js/jquery.treegrid.min.js"></script>
    <script>
        $(function () {
            $('.tree').treegrid();

            $('.tree tr').removeClass('treegrid-expanded').addClass('treegrid-collapsed')
                .find('.treegrid-expander.treegrid-expander-expanded')
                .removeClass('treegrid-expander-expanded')
                .addClass('treegrid-expander-collapsed');

            $('.tree tr[class*=treegrid-parent]').css('display', 'none');

             $('.category-btn-del').click((e) => {
            let delId = $(e.currentTarget).data('del-id');

            Swal.fire({
                title: 'Silmək istədiyinizə əminsinizmi?',
                text: "Bu əməliyyat geri qaytarılmayacaqdır!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli, silinsin!'
            }).then((result) => {
                if (result.isConfirmed) {
                     $.ajax({
                         url: `@Url.Action("Delete")/${delId}`,
                         type: "POST",
                            success: function (successMsg) {
                                if (successMsg.error == false) {
                                    $(e.currentTarget).closest('tr').remove();
                                    return;
                                }

                                alert(successMsg.message);
                            },
                            error: function (errorMsg) {
                                alert(errorMsg);
                            }
                        });

                    Swal.fire(
                        'Silindi!',
                        'Seçdiyiniz məlumatlar silindi.',
                        'success'
                    )
                }
            })
            });
        });
    </script>
}
